<div class="login-container">
    <mat-card class="login-card">
        <h1>Iniciar Sesión</h1>
        <form [formGroup]="loginForm">
            <mat-form-field appearance="fill" class="full-width">
                <mat-label>Correo</mat-label>
                <input matInput placeholder="usuario@dominio.com" formControlName="email">
                <mat-error *ngIf="email.invalid && email.touched">
                    Ingresa un correo válido
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" class="full-width">
                <mat-label>Contraseña</mat-label>
                <input matInput type="password" placeholder="Contraseña" formControlName="password">
            </mat-form-field>

            <button mat-raised-button color="primary" class="full-width" [disabled]="loginForm.invalid"
                (click)="save()">
                Iniciar Sesión
            </button>
        </form>

        <div class="links">
            <span>¿Olvidaste tu contraseña? </span>
            <a (click)="navigateTo('/forgot-password')">Recupérala aquí</a>
            <br>
            <span>Aún no tienes cuenta?
                <a (click)="navigateTo('/register')">Regístrate</a>
            </span>
        </div>
    </mat-card>
</div>