<mat-sidenav-container class="sidenav-container">

  <mat-sidenav #sidenav mode="side" opened="true" position="start" class="sidenav-menu">
    <mat-nav-list>
      <a mat-list-item routerLink="/">Inicio</a>
      <a mat-list-item routerLink="/users-list">Usuarios</a>
      <a mat-list-item routerLink="/projects-list">Proyectos</a>
      <a mat-list-item routerLink="/ticket-list">Tickets</a>
      <a mat-list-item (click)="irAMiBandeja()">Mi Bandeja</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="sidenav-content">

    <mat-toolbar color="primary">
      <button mat-icon-button (click)="toggleSidenav()" aria-label="Toggle menu">
        <mat-icon>menu</mat-icon>
      </button>

      <span>{{ title }}</span>
      <span class="toolbar-spacer"></span>

      <!-- Avatar  -->
      <div class="user-menu-container" [matMenuTriggerFor]="userMenu">
        <div class="user-avatar">
          {{ userInitial }}
        </div>
        <mat-icon>expand_more</mat-icon>
      </div>

      <!-- Mini menu -->
      <mat-menu #userMenu="matMenu">
        <button mat-menu-item (click)="goToProfile()">
          <mat-icon>person</mat-icon>
          <span>Perfil</span>
        </button>
        <button mat-menu-item (click)="logout()">
          <mat-icon>logout</mat-icon>
          <span>Cerrar sesión</span>
        </button>
      </mat-menu>

    </mat-toolbar>

    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>