<mat-sidenav-container class="sidenav-container">

  <mat-sidenav #sidenav mode="side" opened="true" position="start" class="sidenav-menu">
    <mat-nav-list>
      <a mat-list-item routerLink="/">Inicio</a>
      <a mat-list-item routerLink="/users-list">Usuarios</a>
      <a mat-list-item routerLink="/projects-list">Proyectos</a>
      <a mat-list-item routerLink="/ticket-list">Tickets</a>
      <a mat-list-item (click)="irAMiBandeja()">Mi Bandeja</a>
      <a mat-list-item routerLink="/notifications">Notificaciones</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="sidenav-content">

    <mat-toolbar color="primary" class="main-toolbar">
      <button mat-icon-button (click)="toggleSidenav()" aria-label="Toggle menu">
        <mat-icon>menu</mat-icon>
      </button>

      <span>{{ title }}</span>
      <span class="toolbar-spacer"></span>

      <!-- Notificaciones -->
      <div class="notification-container" [matMenuTriggerFor]="notificationsMenu">
        <button mat-icon-button>
          <mat-icon>notifications</mat-icon>
          <span class="badge" *ngIf="unreadCount > 0">{{ unreadCount }}</span>
        </button>
      </div>

      <mat-menu #notificationsMenu="matMenu" class="notifications-menu">
        <div class="notifications-dropdown">
          <ng-container *ngIf="unreadNotifications.length > 0; else noNotifications">
            <div *ngFor="let n of unreadNotifications" class="notification-item">
              <div class="notification-content">
                <strong>{{ n.data.title }}</strong>
                <p>{{ n.data.message }}</p>
              </div>
              <button mat-icon-button color="warn" (click)="markAsRead(n.id, $event)">
                <mat-icon>close</mat-icon>
              </button>
            </div>

            <div class="view-all">
              <button mat-button color="primary" routerLink="/notifications">Ver todas</button>
            </div>
          </ng-container>

          <ng-template #noNotifications>
            <div class="no-notifications">No tienes notificaciones nuevas</div>
          </ng-template>
        </div>
      </mat-menu>

      <!--Avatar -->
      <div class="user-menu-container" [matMenuTriggerFor]="userMenu">
        <div class="user-avatar">
          {{ userInitial }}
        </div>
        <mat-icon>expand_more</mat-icon>
      </div>

      <mat-menu #userMenu="matMenu">
        <button mat-menu-item routerLink="/profile">
          <mat-icon>person</mat-icon>
          <span>Perfil</span>
        </button>
        <button mat-menu-item (click)="logout()">
          <mat-icon>logout</mat-icon>
          <span>Cerrar sesión</span>
        </button>
      </mat-menu>

    </mat-toolbar>

    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>