<mat-sidenav-container class="sidenav-container">

  <mat-sidenav #sidenav mode="side" opened="true" position="start" class="sidenav-menu">
    <mat-nav-list>
      <a mat-list-item href="#">Inicio</a>
      <a mat-list-item href="/profile">Perfil</a>
      <a mat-list-item href="/users-list">Usuarios</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="sidenav-content">

    <mat-toolbar color="primary">
      <button mat-icon-button (click)="toggleSidenav()" aria-label="Toggle menu">
        <mat-icon>menu</mat-icon>
      </button>

      <span>{{ title }}</span>
      <span class="toolbar-spacer"></span>

      <button mat-button (click)="logout()">
        <mat-icon>logout</mat-icon>
        Cerrar sesión
      </button>

    </mat-toolbar>

    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>
