.create-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.create-card {
  width: 500px;
  padding: 25px;
}

.full-width {
  width: 100%;
  margin-bottom: 15px;
}

.chip-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

mat-chip {
  margin: 4px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}
