<div class="projects-container">
  <div class="header">
    <h2>Lista de Proyectos</h2>
    <button mat-raised-button color="primary" (click)="navigateTo('/new-project')">
      <mat-icon>add</mat-icon> Nuevo Proyecto
    </button>
  </div>

  <mat-form-field appearance="outline" class="w-100">
    <mat-label>Buscar</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Filtra por nombre, descripción, etc.">
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z3">

    <!-- Nombre -->
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
      <td mat-cell *matCellDef="let project"> {{ project.nombre }} </td>
    </ng-container>

    <!-- Descripción -->
    <ng-container matColumnDef="descripcion">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripción </th>
      <td mat-cell *matCellDef="let project"> {{ project.descripcion }} </td>
    </ng-container>

    <!-- Creación -->
    <ng-container matColumnDef="creadoPor">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Creado Por </th>
      <td mat-cell *matCellDef="let project">
        {{ project.creator?.nombre }} {{ project.creator?.apellido }} el
        {{ project.created_at | date:'short' }}
      </td>
    </ng-container>

    <!-- Número de Usuarios -->
    <ng-container matColumnDef="numUsuarios">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nº Usuarios </th>
      <td mat-cell *matCellDef="let project"> {{ project.numUsuarios }} </td>
    </ng-container>

    <!-- Acciones -->
    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let project">
        <button mat-raised-button color="primary" (click)="editProject(project.id)">
          <mat-icon>edit</mat-icon> Editar
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
  </mat-paginator>
</div>

<app-loading [loading]="isLoading"></app-loading>