/* En styles.css o styles.scss */
.custom-stepper .mat-step-header {
  padding: 12px;
  margin-bottom: 20px;
}

.custom-stepper .mat-step-label {
  font-weight: 500;
}

.custom-stepper .mat-step-icon {
  background-color: #3b82f6; /* blue-500 */
  color: white;
}

.custom-stepper .mat-step-icon-selected {
  background-color: #1d4ed8; /* blue-700 */
}

.custom-stepper .mat-step-label-active {
  color: #1d4ed8; /* blue-700 */
  font-weight: 600;
}